<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcgars.basekitk">

    <application>
        <activity
            android:name=".features.simple.SimpleActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>
